@media only screen and ( min-width: 480px ) {

	// Footer
	.footer-menus {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.footer-menu {
			width: 47.5%;
		}
	}


}

@media only screen and ( min-width: 768px ) {

	// Footer
	.compinfo.flexxed {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		        justify-content: space-between;
		margin: 0 auto 10px auto;
		width: 60%;
	}

	.compinfo-column {
		width: 47.5%;
	}

	.footer-contact {
		-webkit-box-align: space-between;
		-ms-flex-align: space-between;
		align-items: space-between;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		        flex-direction: column;
		-ms-flex-flow: wrap;
		    flex-flow: wrap;
		margin: 0;

		.contact {
			height: 20px;
		}
	}

	.footer-logo {
		text-align: left;
	}

	.footer-address.flexxed {
		text-align: left;
	}

	.footer-motto {
		font-size: 18px;
		letter-spacing: 2px;
	}
}

@media only screen and ( min-width: 960px ) {

	// Footer
	.main-footer .flexxed {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	.footer-block {
		width: 47.5%;
	}

	.footer-snippet {
		text-align: left;
	}

	.compinfo.flexxed {
		width: 100%;
	}

	.footer-address.flexxed {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column
	}

	.legal {

		.footer-block {
			display: flex;
			flex-direction: row;
			width: 50%;
		}

		.legal-box {
			font-size: 15px;
			padding: 0 15px 0 0;
			position: relative;

			&:after {
				content: '|';
				position: absolute;
				right: 5px;
				top: 0;
			}

			&:last-of-type {
				padding: 0;

				&:after {
					content: '';
				}
			}
		}
	}
}

@media only screen and ( min-width: 1024px ) {

	// Header
	.sitetop-links {
		background-color: rgba( $black-color, 0.8 );

		.flexxed {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-direction: row;
			        flex-direction: row;
		}

		a {
			padding: 10px 0;
		}
	}

	.top-left {
		position: static;
		background: transparent;
		-ms-flex-preferred-size: 75%;
		    flex-basis: 75%;

		.fa-times {
			display: none;
		}

		ul {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			flex-directon: row;
			justify-content: space-around;
		}
	}

	.top-right {
		position: relative;
		-ms-flex-preferred-size: 25%;
		    flex-basis: 25%;
		padding: 10px 0;

		&:after {
			content: '';
			position: absolute;
			background-color: inherit;
			left: 100%;
			top: 0;
			height: 100%;
			width: 1000px;
		}
	}

	.more-tab {
		display: none;
		flex-basis: 0;
	}

	.mobile-nav {
		display: none;
	}

	.mobile-nav-btn {
		display: none;
	}

	.home-slider {

		.slick-arrow {
			border: 2px solid $white-color;
			border-radius: 20px;
			color: $white-color;
			height: 40px;
			position: absolute;
			top: 47%;
			width: 40px;
			z-index: 9999;

			&:before {
				font-size: 24px;
			}
		}

		.fa-caret-left {
			left: 2.5%;

			&:before {
				left: 12px;
				position: absolute;
				top: 6px;
			}
		}

		.fa-caret-right {
			right: 2.5%;

			&:before {
				left: 15px;
				position: absolute;
				top: 5px;
			}
		}
	}

	.main-header {
		position: fixed;
		top: 64px;

		.flexxed {
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
		}

		.site-motto {
			text-align: center;
			letter-spacing: 4.5px;
			margin-bottom: 20px;
		}

		.main-navigation {
			display: block;
		}

		a {
			color: $white-color;
		}

		.social-media-links {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
		}
	}

	.site-branding {
		-ms-flex-preferred-size: 20%;
		    flex-basis: 20%;
	}

	.main-navigation {
		-ms-flex-preferred-size: 50%;
		    flex-basis: 50%;
	}

	.social-media-links {
		-ms-flex-preferred-size: 11%;
		    flex-basis: 11%;
	}

	.main-navigation .menu-main-menu-container ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-ms-flex-pack: distribute;
		    justify-content: space-around;

		font-size: 14px;
	}

	.page-template-homepage .main-header {
		position: absolute;
		bottom: 0;
		left: 0;
		top: auto;

		&.locked {
			background-color: rgba( $darkest, 1);
			bottom: auto;
			position: fixed;
			top: 64px;

			-webkit-transition: all 0.25s ease-in-out;
			-moz-transition: all 0.25s ease-in-out;
			-ms-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;
		}
	}

	// Footer
	.legal {

		.legal-box {
			font-size: 16px;
		}
	}
}

@media only screen and ( min-width: 1200px ) {

	.main-footer {

		.footer-block {
			width: 45%;
		}
	}
}